body{
	background-color: black;
	margin: 0;
	font-family: sans-serif;
}
h1{
	text-align: center;
	padding-top: 20%;
	color: white;
	text-transform: uppercase;
}

/*------------SLIDER-----------*/

.container{
    width: 470px;
    margin: 0 auto;
    box-sizing: border-box;
    font-family: Raleway, sans-serif;
    position: relative;
}



.slider-wrap{
	width: 250px;
    left: calc(50% - 125px);

}


.slick-slide img {
    display: block;
    width: 250px;
	height: 185px;    
}


/*-------------SLIDER-END---------*/
