
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&subset=cyrillic');

html {
  font-size: 10px;
  font-family: "Open Sans";
}

@header-color: rgb(252, 103, 68);

.container{
	background-color: #fff;
}
header{
	opacity: 0.8;
	font-size: 5rem;
	font-weight: 600;
	line-height: 4.6rem;
	text-align: center;
	margin-bottom: 10rem;
	margin-top: 8.5rem;
	h1{
		color: black;
		span{
			color: @header-color;
		}
	}
	p{
		opacity: 0.7;
		color: rgb(65, 65, 65);
		font-size: 1.6rem;
		font-weight: 400;
		line-height: 2.4rem;
	}
}

.row-header{
	&-col {
		i {opacity: 0.8;}
		font-weight: 400;
		line-height: 0.8rem;
		color: white;
		margin-right: 3rem;
		padding-top: 5.4rem;
		width: 26.2rem;
		height: 26.3rem;
		text-align: center;
		&:last-child{
			margin-right: 0;
		}
		h3{
			opacity: 0.9;
			color: white;
			font-size: 2rem;
			font-weight: 600;
			line-height: 4.2rem;
		}
		p{
			opacity: 0.75;
			color: white;
			font-size: 1.5rem;
			font-weight: 400;
			line-height: 2.2rem;
			padding-bottom: 3.5rem;
		}
	}
	&_first{
		background-color: rgb(192, 73, 248);
	}
	&_second{
		background-color: rgb(129, 126, 255);
	}
	&_third{
		background-color: rgb(78, 178, 247);
	}
	&_fourth{
		background-color: rgb(247, 71, 112);
	}
	&-btn{
		text-decoration: none;
		display: inline-block;
		width: 22.8rem;
		height: 5.5rem;
		color: black;
		padding-top: 1.5rem;
		font-size: 1.6rem;
		font-weight: 400;
		line-height: 2.5rem;
		background-color: white;
		border-radius: 27px;
		box-shadow: 0 0 1.4rem rgba(20, 20, 21, 0.09);
		span{
			opacity: 0.7;
		}
		&:hover {
			color: black;
			text-decoration: none;
		}
	}
}

.camera {
	transform: rotate(-25deg);
}
