
@import url('https://fonts.googleapis.com/css?family=Lobster|Open+Sans');


/* Webfont: Lato-Regular */
@font-face {
    font-family: 'Lato';
    src: local('?');
    src: url('../fonts/Lato-Regular.eot'); /* IE9 Compat Modes */
    src: url('../fonts/Lato-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/Lato-Regular.woff2') format('woff2'), /* Modern Browsers */
         url('../fonts/Lato-Regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/Lato-Regular.ttf') format('truetype'),
         url('../fonts/Lato-Regular.svg') format('svg');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}


@font-face {
    font-family: 'BebasNeue_Regular';
    src: url('../fonts/BebasNeue_Regular.eot');
    src: local('?'), url('../fonts/BebasNeue_Regular.woff') format('woff'), url('../fonts/BebasNeue_Regular.ttf') format('truetype'), url('../fonts/BebasNeue_Regular.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

.open_sans{
	font-family: 'Open Sans', sans-serif;
}

.bebas_font{
	font-family: 'BebasNeue_Regular', sans-serif;
}

.lato_font {
	font-family: 'Lato', sans-serif;
}

.lobster_font{
	font-family: 'Lobster', cursive;
}

.text-box{
	padding-top: 2rem;
}
.result {
	margin-bottom: 0;
	margin-top: 3rem;
}
.fonts {
	font-size: 2rem;
	text-align: center;
	padding: 2rem;
}

small {
	font-size: 1.3rem;
}
